@page "/child_view_1"

<div class="row-layout child-view-1-container">
    <div class="column-layout group"></div>
    <div class="column-layout group"></div>
    <div class="column-layout group"></div>
</div>

@code {
}
